
{% extends 'topazz/base.html' %}

{% load static %}

{% block content %}

            <header  class="header-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="d-flex mb-5" style="height: 60px;">
                                <div style="font-size: 1.5rem; color: #ffcf00;"><i class="fas fa-map-marker"></i></div>
                                <div class="align-self-start ml-2 ">
                                    <small class="text-muted">Location</small><br>
                                    <strong><a style="color: white;">Ibadan, Nigeria</a></strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex mb-5" style="height: 60px;">
                                <div style="font-size: 1.5rem; color: #800080;"><i class="fas fa-clock"></i></div>
                                <div class="align-self-start ml-2 ">
                                    <small class="text-muted">Working Days</small><br>
                                    <strong><a style="color: white;">Mon-Sat: 8am-5pm</a></strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex mb-5" style="height: 60px;">
                                <div style="font-size: 1.5rem; color: #ffcf00;"><i class="fas fa-phone"></i></div>
                                <div class="align-self-start ml-2 ">
                                    <small class="text-muted">Helpline</small><br>
                                    <strong><a style="color: white;">+2348023087450</a></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<h1 class=" text-center header-text" style="font-size: 6rem;">About Us</h1>
			</header>
        </section>

        <div class="container">
			<section id="about">
				<div class="row">
					<div class="col-sm-6 mt-5">
						<h1 class="titles">Who We Are</h1>

						<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, consequatur optio excepturi culpa accusantium ducimus adipisci, labore voluptatum est maiores earum placeat quis consectetur sunt quo aut qui! Omnis dolorum nisi adipisci, consequatur, explicabo corporis, 
                            maiores nulla aperiam asperiores sunt iure? Ea sequi illum tempora? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ex perferendis, labore est nulla ea aspernatur dolore error
                            ipsum minima nostrum saepe porro placeat harum officia natus sint veniam dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti adipisci dolorem aspernatur dolore maiores. Aspernatur omnis in vero dolores praesentium dignissimos harum.     
                        </p>

						<div class="row icon-vertical">
							<div class="col-sm-4">
								<span><i class="fas icons fa-bolt"></i> <p class="icons-text">Fast Services</p></span>
							</div>
							<div class="col-sm-4">
								<span><img class="smaller-icon" src="{% static 'topazz/Images/cogwheel.png' %}"><p class="icons-text">99% Efficient!</p></span>
							</div>
							<div class="col-sm-4">
								<span><img class="smaller-icon" src="{% static 'topazz/Images/experience.png' %}"><p class="icons-text">30<sup>+</sup>Experience</p></span>
							</div>
						</div>
						
					</div>
					<div class="col-sm-6">
						<img class="mt-3 rounded smaller-image" src="{% static 'topazz/Images/about2.png' %}">	
					</div>
				</div>
		</section>
        </div>
        
        <section id="mnv">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-md-12 mt-5">
                        <h1 class=" titles text-center">Mission Statement</h1>
						<p class="text-justify mnv-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio veritatis nam hic quibusdam itaque exercitationem quo quos 
                            praesentium omnis cumque suscipit ea in dolor similique sed fuga mollitia dignissimos quaerat ducimus, temporibus ab. 
                            Nobis numquam at facere ipsam repellendus iusto fugiat incidunt. Nihil libero fugiat, perferendis fuga molestias, 
                            architecto tenetur nisi nostrum maxime impedit, commodi laboriosam fugit. Modi, iusto sit?
                        </p>
                    </div>
                    <div class="col-md-12 mt-5">
                        <h1 class=" titles text-center">Vision Statement</h1>
						<p class="text-justify mnv-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio veritatis nam hic quibusdam itaque exercitationem quo quos 
                            praesentium omnis cumque suscipit ea in dolor similique sed fuga mollitia dignissimos quaerat ducimus, temporibus ab. 
                            Nobis numquam at facere ipsam repellendus iusto fugiat incidunt. Nihil libero fugiat, perferendis fuga molestias, 
                            architecto tenetur nisi nostrum maxime impedit, commodi laboriosam fugit. Modi, iusto sit?
                        </p>
					</div>
					

				</div>
			</div>
        </section>
        
        <section id="CV">
            <div class="container">
                <h1 class=" titles text-center mt-2">Why Us?</h1>
                <ul class="cvs">
                    <li class="lis"> <i class="fas fa-check text-success" style="font-size: 2.5rem;"></i> Upmost Customer Satisfaction</li>
                    <li class="lis"> <i class="fas fa-check text-success" style="font-size: 2.5rem;"></i> Work Security (Insurance)</li>
                    <li class="lis"> <i class="fas fa-check text-success" style="font-size: 2.5rem;"></i> Strict Punctuality</li>
                    <li class="lis"> <i class="fas fa-check text-success" style="font-size: 2.5rem;"></i> Provison of Verified Professionals</li>
                </ul>
            </div>
        </section>
        
        <section id="our-team">
            <div class="container">
                <h1 class=" titles text-center mt-5">Meet Our Team</h1>
                <div class="card-deck mt-5">
                    {% for member in team %}
                    <div class="card text-center">
                        <img class="card-img-top team-img rounded-circle mt-5" src="{{ member.image.url }}" alt="Team Member">
                        <div class="card-body">
                            <h2 class="card-title"><strong>{{ member.name }}</strong></h2>
                            <h4 class="card-title text-muted">{{ member.role }}</h4>
                            <p class="card-text text-justify">{{ member.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
        </section>

        <section id="reviews">
			<h1 class="titles text-center mt-3">Reviews</h1>
			<p class="text-center big-quote">“</p>
			<div class="container">
				<div id="review-carousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<blockquote class="blockquote d-block w-100">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime tenetur quaerat porro aliquam ab, architecto in placeat iure perferendis corporis quasi saepe commodi beatae, autem. Inventore, provident debitis officiis consectetur itaque amet, architecto ad molestiae asperiores magnam, quibusdam voluptatem pariatur?</p>
								<footer class="blockquote-footer text-center bigger-texts"><img src="{% static 'topazz/Images/user.png' %}" class="smaller-user">&nbsp;John Doe</footer>
							</blockquote>
						</div>
						<div class="carousel-item">
							<blockquote class="blockquote">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime tenetur quaerat porro aliquam ab, architecto in placeat iure perferendis corporis quasi saepe commodi beatae, autem. Inventore, provident debitis officiis consectetur itaque amet, architecto ad molestiae asperiores magnam, quibusdam voluptatem pariatur?</p>
								<footer class="blockquote-footer text-center bigger-texts"><img src="{% static 'topazz/Images/user.png' %}" class="smaller-user">&nbsp;Sarah West</footer>
							</blockquote>
						</div>
						<div class="carousel-item">
							<blockquote class="blockquote">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime tenetur quaerat porro aliquam ab, architecto in placeat iure perferendis corporis quasi saepe commodi beatae, autem. Inventore, provident debitis officiis consectetur itaque amet, architecto ad molestiae asperiores magnam, quibusdam voluptatem pariatur?</p>
								<footer class="blockquote-footer text-center bigger-texts"><img src="{% static 'topazz/Images/user.png' %}" class="smaller-user">&nbsp;Silas Stone</footer>
							</blockquote>
						</div>
						<div class="carousel-item">
							<blockquote class="blockquote">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime tenetur quaerat porro aliquam ab, architecto in placeat iure perferendis corporis quasi saepe commodi beatae, autem. Inventore, provident debitis officiis consectetur itaque amet, architecto ad molestiae asperiores magnam, quibusdam voluptatem pariatur?</p>
								<footer class="blockquote-footer text-center bigger-texts"><img src="{% static 'topazz/Images/user.png' %}" class="smaller-user">&nbsp;John Doe</footer>
							</blockquote>
						</div>
					</div>
				</div>
				
			</div>
			
		</section>
        
        <footer class="footer" style="background-color: #0a1f45; color: white;">
            <strong><p class="text-center mt-4">&copy; Mosadoluwa Agbonyin 2020</p></strong>
        </footer>
{% endblock %}

